<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${date}: ${message}${newline}${exception:format=ToString}" archiveNumbering="Date" archiveEvery="Day" />
    <target name="requestLog" xsi:type="File" fileName="${basedir}/logs/${shortdate}-requestLog.log"
            layout="${date}: ${message}${exception:format=ToString}" archiveNumbering="Date" archiveEvery="Day" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="requestLog" minlevel="Trace" writeTo="requestLog" />
  </rules>
</nlog>