.vs/
MicroBase.Amazon/obj/
MicroBase.ApiApplication/bin/
MicroBase.ApiApplication/obj/
MicroBase.BaseMvc/obj/
MicroBase.Dashboard/bin/
MicroBase.Dashboard/obj/
MicroBase.Amazon/bin/
MicroBase.Module.Identity/obj/
MicroBase.NoDependencyService/obj/
MicroBase.RabbitMQ/bin/
MicroBase.RabbitMQ/obj/
MicroBase.RedisProvider/obj/
MicroBase.RoboDashboard/obj/
MicroBase.Service/obj/
MicroBase.ShareModel/bin/
MicroBase.ShareModel/obj/
MicroBase.Telegram/obj/
MicroBase.Module.Identity/bin/
MicroBase.Module.FoundationApi/obj/
MicroBase.NoDependencyService/bin/
MicroBase.Module.Blog/obj/
MicroBase.Module.Blog/bin/
MicroBase.Entity/obj/
MicroBase.Telegram/bin/
MicroBase.Module.FoundationApi/bin/
MicroBase.BaseMvc/bin/
MicroBase.Entity/bin/
MicroBase.RedisProvider/bin/
MicroBase.Service/bin/
MicroBase.RoboDashboard/bin/
MicroBase.Dashboard/Properties/
MicroBase.ApiApplication/Properties/
MicroBase.CryptoService/obj/
MicroBase.CryptoService/bin/
TestProject/bin/
TestProject/obj/
MicroBase.BaseApi/bin/
MicroBase.BaseApi/obj/
MicroBase.FileStorage/obj/
MicroBase.Logging/bin/
MicroBase.Logging/obj/
MicroBase.FileStorage/bin/
WebApplication1/bin/
WebApplication1/obj/
